

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <% flash.each do |name, msg| -%>
             <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= msg %> 
             </div>
            <%end%>
        
            <h1>We Are C/I</h1>
            <p> Inspiring the next generation of diverse technology leaders </p>
            <% if user_signed_in? == false %>
            <%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-default" %>
            <%end%>
       </div> 
      </div>
    </div>
  </div>

<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    <div class="section"> 
      <div class="container">
      <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="http://www.weare.ci/wp/wp-content/uploads/2014/04/code.gif" alt="Generic placeholder image" width="140" height="140">
            <h3> Learn </h3>
           
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="http://www.weare.ci/wp/wp-content/uploads/2014/04/camp.gif" alt="Generic placeholder image" width="140" height="140">
            <h3> Build </h3>
           
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="http://www.weare.ci/wp/wp-content/uploads/2014/04/career.gif" alt="Generic placeholder image" width="140" height="140">
           <h3> Collaborate </h3>
            
            
          </div><!-- /.col-lg-4 -->
         </div> 
      </div><!-- /.row -->
    </div>

<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="page-header ribbon-top">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h4> C/I exists to cultivate the potential of America’s underserved youth by narrowing the technical skills gap in our economies and the opportunity gap in our communities. </h4>
       </div> 
      </div>
    </div>
  </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="section"> 
      <div class="container">
      <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <%= image_tag "IMG_0173.jpg", :height => "200px", :width => "300px" %>
            
           
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            
             <%= image_tag "IMG_0259.jpg", :height => "200px", :width => "300px"%>
           
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            
             <%= image_tag "IMG_0301.jpg", :height => "200px", :width => "300px"%>
            
            
          </div><!-- /.col-lg-4 -->
         </div> 

         <br>
         <div class="row">
          <div class="col-lg-4">
            <%= image_tag "IMG_0706.jpg", :height => "200px", :width => "300px"%>
            
           
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            
             <%= image_tag "IMG_6270.JPG", :height => "200px", :width => "300px"%>
           
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            
             <%= image_tag "IMG_1116.jpg", :height => "200px", :width => "300px"%>
            
            
          </div><!-- /.col-lg-4 -->
         </div> 

      </div><!-- /.row -->
    </div>
    