
<%= form_for(@track) do |f| %>
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  
                          <%= link_to new_unit_path do %>
                            <i class="fa fa-plus fa-fw"></i> New Unit
                          <%end%>
                        
                        <%= link_to new_lesson_path do %>
                                <i class="fa fa-plus fa-fw"></i> New Lesson
                        <%end%>
                        
                        <%= link_to new_quiz_path do %>
                                <i class="fa fa-plus fa-fw"></i> New Quiz
                        <%end%>
                        
  <div class="actions">
    <%= f.submit :class => "btn btn-primary"%>
  </div>
<% end %>

