<h1>Editing Track</h1>

<%= render 'form' %>

<%= link_to 'Show', @track %> |
<%= link_to 'Back', tracks_path %>

                        <li>
                          <%= link_to new_unit_path do %>
                            <i class="fa fa-plus fa-fw"></i> New Unit
                          <%end%>
                        </li>
                        <li>
                        <%= link_to new_lesson_path do %>
                                <i class="fa fa-plus fa-fw"></i> New Lesson
                        <%end%>
                        </li>
                        <li>
                        <%= link_to new_quiz_path do %>
                                <i class="fa fa-plus fa-fw"></i> New Quiz
                        <%end%>
                        </li>
