 <div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h1><%= @track.name %></h1>
      </div> 
      <div class="col-lg-2">
        <h1> <%= link_to 'Edit Track', edit_track_path(@track), :class => "btn btn-primary" %> </h1>
      </div>

    </div>
    <!-- /.col-lg-12 -->
  </div>
</div> 


  <!-- /.row -->
  <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <% if current_user.try(:admin?)%>
                          <li>
                            <%= link_to tracks_path do %>
                              <i class="fa fa-sitemap fa-fw"></i> All Tracks
                            <%end%>
                          </li>
                          <%end%>
                        <% @track.units.each do |unit| %>
                        <li>
                          <a href= "#"> <%= unit.name %> <span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                            <% unit.lessons.order("position").each do |lesson| %>
                            <li>
                              <%= link_to lesson do %>
                                <%= lesson.name%>
                              <%end%>
                            </li>
                            <%end%>  
                          </ul>
                        </li>      
                        <% end %>      
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>

          <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <% flash.each do |name, msg| -%>
                    <div class="alert alert-success alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <%= msg %> 
                    </div>
                    <%end%>


                    <h1> Track Overview 


                          <%= link_to new_unit_path, :class => "btn btn-primary" do %>
                            <i class="fa fa-plus fa-fw"></i> New Unit
                          <%end%>
                        
                        <%= link_to new_lesson_path, :class => "btn btn-primary" do %>
                                <i class="fa fa-plus fa-fw"></i> New Lesson
                        <%end%>
                        
                        <%= link_to new_quiz_path, :class => "btn btn-primary" do %>
                                <i class="fa fa-plus fa-fw"></i> New Quiz
                        <%end%>
                    </h1>



                    <hr>
                    <h3> Classrooms <h3>

                    <h3> Units </h3>
                    <div id="lessons">
                    <ul >
                        <% @track.units.each do |unit| %>
                          <li>
                          <a href= "#"> <%= unit.name %> <span class="fa arrow"></span></a>
                          
                            <ul  data-update-url="<%= sort_lessons_url%>">
                            <% unit.lessons.each do |lesson| %>
                           
                              
                              
                                
                                <%= content_tag_for :li, lesson do %>
                                  <%= link_to lesson.name, lesson%>  
                                <%end%>
                               
                              
                              
                        
                            <%end%>  
                            </ul>
                          </li>
                           
                        <%end%>  
                      </ul>
                    </div>

                    <h3> Resources </h3>






                </div>
                <!-- /.col-lg-12 -->
            </div>

            
          </div>
