<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label "Codacademy Class ID" %><br>
    <%= f.text_field :ca_class_id, :class => "form-control" %>
  </div>
  
  <div class="field">
    <% if current_user.try(:admin?)%>
        <%= f.label :Teacher %><br>
        <td><%= f.collection_select :teacher_id, Teacher.all, :id, :last_name %></td>
    <%else%>
      <%= f.hidden_field :teacher_id, value: current_user.teacher.id%>
    <%end%>
  </div>

  <div class="field">
    <% if current_user.try(:admin?)%>
        <%= f.label :school %><br>
        <td><%= f.collection_select :school_id, School.all, :id, :school_name %></td>
    <%else%>
        <%= f.hidden_field :school_id, value: current_user.teacher.school.id%>
    <%end%>
  </div>


  <div class="actions">
    <%= f.submit "Create Classroom", :class => "btn btn-primary" %>
  </div>
<% end %>
