  <div class="container-fluid">
      <div class="row">
        
          <%= render 'layouts/sidebar' %>
       
        
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1>Classrooms</h1>

          <p id="notice"><%= notice %></p>
              
              <div class="card classroom-card">
               <div>
                 
                 <img src="http://www.iconsdb.com/icons/preview/orange/plus-5-xxl.png" alt="Add Classroom" height="100" width="100" id="plus-button">    
               
               </div>

               <h4><%= link_to 'New Classroom', new_classroom_path %></h4>
              </div>

              <% @classrooms.each do |classroom| %>
              <% if classroom.teacher.user == current_user || current_user.try(:admin?)%>
                <div class="card classroom-card">
                  <h3><%=classroom.name%></h3>
                  <a href="/classrooms/<%= classroom.id %>">
                    <!--<img src="http://<%= classroom.name %>-pond.jpg.to/" alt="Class Picture" height="200" width="300">  -->
                    <img src="http://mapssedu.net/images/iconInstruction-01.png" alt="Class Picture" height="100" width="100"> 
                  </a>
                    <p><%= link_to 'DELETE', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                  
                </div>
                <% end %>
              <% end %>
            </div>
            
            
          </div>
        </div>
      </div>




