  <div class="container-fluid">
      <div class="row">
        
         <%= render 'layouts/sidebar' %>
        
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><%= @classroom.name %></h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <!-- <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail"> -->
              <h4>Number of Students</h4>
              <span class="text-muted"><%=@classroom.num_students%></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <!-- <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail"> -->
              <h4>Attendence</h4>
              <span class="text-muted">Attendence</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <!-- <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail"> -->
              <h4>Grades</h4>
              <span class="text-muted">Grades</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <!-- <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail"> -->
              <h4>Pics</h4>
              <span class="text-muted">Pics</span>
            </div>
          </div>

          <h2 class="sub-header">Students</h2>
          
          

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Grade</th>
                  <th>Class</th>
                  <th>Delete Student?</th> 
                </tr>
              </thead>
              <tbody>
                <!-- <%= link_to 'Add New Student', new_student_path,  :class => "btn btn-default btn-lg"  %> -->
                
                
                <% @classroom.students.each do |student| %>
                <tr>
                  <td><%= student.id %></td>
                  <td><a href="/students/<%= student.id %>"><%= student.name %></a></td>
                  <td><%= student.grade %></td>
                  <td><%=student.classroom.name%></td>
                 <td><%= link_to 'DELETE', student, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
          
          <!-- <div class="student-cards">

           <% @classroom.students.each do |student| %>
            <div class="card">   
            <a href="/students/<%= student.id %>">
              <img src="http://riskid.nl/assets/testimonials/user-3995d1ed5f9b6ea6ef9c7bc9ead47415.jpg" alt="Student Picture" height="115" width="175"> 
            </a>
            <p><a href="/students/<%= student.id %>"><%= student.name %></a> | <%= link_to 'DELETE', student, method: :delete %></p>
            </div>
          <% end %>
          
          </div> -->


          <%= form_tag import_students_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= hidden_field_tag(:classroom_id, @classroom.id) %>
            <%= submit_tag "Import" %>
          <% end %>
          
          <p>Classroom Id: <%= @classroom.id %></p>
          
        </div>
      </div>
    </div>

