<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-md-6">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, autofocus: true , :class => "form-control" %>
  </div>
  
  <div class="field form-group col-md-6">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, autofocus: true, :class => "form-control" %>
  </div>
  
  <div class="field form-group col-md-6">
    <%= f.label :profile_name %><br>
    <%= f.text_field :profile_name, autofocus: true, :class => "form-control" %>
  </div>

  <div class="field form-group col-md-6">
    <%= f.label :about_me %><br>
    <%= f.text_field :about_me , :class => "form-control"%>
  </div>

  <div class="field form-group col-md-6">
    <%= f.label :codecademy_username %><br>
    <%= f.text_field :codecademy_username, :class => "form-control" %>
  </div>

  <div class="field form-group col-md-6">
    <%= f.label :github_username %><br>
    <%= f.text_field :github_username, :class => "form-control" %>
  </div>

  <div class="field form-group col-md-6">
    <%= f.label :cloud9_username %><br>
    <%= f.text_field :cloud9_username, :class => "form-control" %>
  </div>

  <div class="field form-group col-md-6">
    <%= f.label :devpost_username %><br>
    <%= f.text_field :devpost_username, :class => "form-control" %>
  </div>

  <div class="field form-group col-md-6">
    <%= f.label "Credly Member ID" %><br>
    <%= f.text_field :credly_member_id, :class => "form-control" %>
  </div>

    <div class="field form-group col-md-6">
      <%= f.label :school %><br>
      <%= f.collection_select :school_id, School.all, :id, :school_name, :class => "form-control" %>
    </div>

     <div class="field form-group col-md-6">
     <%= f.hidden_field :user_id, value: current_user.id%>
    </div>

    <div class="field form-group col-md-6">
    <%= f.submit "Save Profile", :class => "btn btn-primary" %>
    </div>

<% end %>
