<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :profile_name %><br />
    <%= f.text_field :profile_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :about_me %><br>
    <%= f.text_field :about_me %>
  </div>

  <div class="field">
    <%= f.label :codecademy_username %><br>
    <%= f.text_field :codecademy_username %>
  </div>

  <div class="field">
    <%= f.label :github_username %><br>
    <%= f.text_field :github_username %>
  </div>

  <div class="field">
    <%= f.label :devpost_username %><br>
    <%= f.text_field :devpost_username %>
  </div>

  <div class="field">
    <%= f.label :credly_member_id %><br>
    <%= f.text_field :credly_member_id %>
  </div>

    <div class="field">
      <%= f.label :school %><br>
      <%= f.collection_select :school_id, School.all, :id, :school_name %>
    </div>

     <div class="field">
     <%= f.hidden_field :user_id, value: current_user.id%>
    </div>

    <%= f.submit %>
  

<% end %>
