
<div class="container-fluid">
      <div class="row">
         <%= render 'layouts/sidebar' %>
        
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <p id="notice"><%= notice %></p>
        
        <h1>C/I Students</h1>

             <!--    <div class="card">   
                  
                  <img src="http://www.iconsdb.com/icons/preview/orange/plus-5-xxl.png" alt="Add Classroom" height="150" width="150"> 

                  <p><%= link_to 'New Student', new_student_path%></p>
                </div> -->



        
        <% @students.each do |student| %>
             
                <div class="card">   
                  <a href="/students/<%= student.id %>">
                    <img src='<%= student.profile_pic_url%>' alt="No Pic" height="150" width="150"> 
                  </a>
                  <p><a href="/students/<%= student.id %>"><%= student.first_name + " " +  student.last_name%></a> </p>
                  <p> <%= student.school.school_name %></p>

                </div>
           
          <% end %>
        <br>
        
        
        <!-- <h3>Import a CSV File</h3>
          <%= form_tag import_students_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import CSV" %>
        <% end %> -->
    </div>
</div>


