
<div class="container-fluid">
      <div class="row">
         <%= render 'layouts/sidebar' %>
        
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <p id="notice"><%= notice %></p>
        
        <h1>Listing Students</h1>
        
        <%= link_to 'New Student', new_student_path %>
        
        
        <h3>Import a CSV File</h3>
          <%= form_tag import_students_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import CSV" %>
        <% end %>
        
        <% @students.each do |student| %>
                <div class="card">   
                  <a href="/students/<%= student.id %>">
                    <img src="http://riskid.nl/assets/testimonials/user-3995d1ed5f9b6ea6ef9c7bc9ead47415.jpg" alt="Frog Picture" height="150" width="150"> 
                  </a>
                  <p><a href="/students/<%= student.id %>"><%= student.name %></a> | <%= link_to 'DELETE', student, method: :delete %></p>
                </div>
              <% end %>
        <br>

    </div>
</div>


