<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
          <h1>All Students</h1>        
     </div> 
    </div>
  </div>
</div>

<div class="container">

      <div class="row">

        <p id="notice"><%= notice %></p>
        
        <h1>C/I Students</h1>

             <!--    <div class="card">   
                  
                  <img src="http://www.iconsdb.com/icons/preview/orange/plus-5-xxl.png" alt="Add Classroom" height="150" width="150"> 

                  <p><%= link_to 'New Student', new_student_path%></p>
                </div> -->
        <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
        <%= pie_chart Teacher.group(:school_id).count %>


        
        <% @students.each do |student| %>
             
                <div class="card">   
                  <p><a href="/students/<%= student.id %>"><%= student.first_name%> <%=student.last_name%></a> </p>
                  <p> <%= student.school.school_name %></p>

                </div>
           
          <% end %>
        <br>
        
        
        <!-- <h3>Import a CSV File</h3>
          <%= form_tag import_students_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import CSV" %>
        <% end %> -->
    </div>
</div>


