 <div class="container-fluid">
    <div class="row">
         <%= render 'layouts/sidebar' %>
        
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1>My Page</h1>
      <p id="notice"><%= notice %></p>
            <p>
              <strong>Name:</strong>
              <%= @student.first_name + " " + @student.last_name %>
            </p>
            
            <p>
              <strong>Email:</strong>
              <%= @student.user.email %>
            </p>
            <p>
              <strong>School:</strong>
              <%= link_to @student.school.school_name, @student.school%>
            </p>

            <p>
              <strong>Github:</strong>
              <a href='https://github.com/<%=@student.github_username%>'> <%= @student.github_username%></a>
            </p>
            <p>
              <strong>Codecademy:</strong>
              <a href='https://www.codecademy.com/<%=@student.codecademy_username %>'> <%= @student.codecademy_username %></a>
            </p>

          <% if current_user.try(:admin?) || current_user == @student.user%> 
          <%= link_to "Edit Student Profile", edit_student_path(@student)%> 
          <%end%>
      
    </div>
  </div>
</div>