<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
          <h1><%= @student.first_name %> <%= @student.last_name %> (<%=@student.profile_name%>)</h1>
     </div> 
    </div>
  </div>
</div>

<div class="page-header">
  <div class="container">
    <% flash.each do |name, msg| -%>
     <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= msg %> 
     </div>
    <%end%>

    <% @student.enrollments.each do |enrollment|%>
      <% if enrollment.is_verified == false %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= form_tag verify_classroom_enrollments_path(enrollment.classroom) do %>
              <%= hidden_field_tag :enrollment_id, enrollment.id %>
              <%= submit_tag "Accept Enrollment Request" %>
            <% end %> 

            <%= link_to 'Accept Enrollment Request', [enrollment.classroom, enrollment], method: :post, data: { confirm: 'Are you sure?' } %>

             <%= link_to 'Decline Enrollment Request', [enrollment.classroom, enrollment], method: :delete, data: { confirm: 'Are you sure?' } %>
       </div>
      <% end%>
    <%end%>

    <div class="row">
       <div class="col-lg-3">
            <%= image_tag @student.user.image, :height => "100px", :class => "user-image img-rounded img-responsive"%>
      </div>

      <div class="col-lg-3">
            <h3> "<%= @student.about_me %>"</h3> 
            <p> <span class="fa fa-university"></span> <%= @student.school.school_name %></p>
            <p> <span class="fa fa-user"></span>  Front End Developer</p> 
            <p> <span class="fa fa-map-marker"></span>   New York, New York</p> 

            <% if current_user.try(:admin?) || current_user == @student.user%> 
            <p> 
              <span class="fa fa-edit"></span> <%= link_to "Edit Profile", edit_student_path(@student)%> 
            </p>
            <%end%>
      </div>


      <div class="col-lg-3">
            <h3> Overview </h3>
            <p><%= @ca_datum.total_points %> CA Points </p>
            <p><%= @student.projects.count %> C/I Projects </p>
            <p><%= @student.user.public_repos.count %> Repositiories on Github </p>
            <p><%= @student.events.count %> Events </p>
            
      </div>

      <div class="col-md-3">
            <h3> Developer Toolbox </h3>
            <a href='https://github.com/<%=@student.github_username%>' class="btn btn-social-icon btn-github">
                <span class="fa fa-github"></span>
            </a>

            <a href='https://www.codecademy.com/<%=@student.codecademy_username %>' class="btn btn-social-icon btn-instagram">
                <span class="fa fa-code"></span>
                
            </a>

            <a href='https://devpost.com/<%=@student.devpost_username%>' class="btn btn-social-icon btn-reddit">
              <img src = "http://nealrs.github.io/devpost-follow-button/icon/devpost-32.png">         
            </a>

            <a href='https://c9.io/<%=@student.cloud9_username%>' class="btn btn-social-icon btn-reddit">
              <%=image_tag "c9-logo.png" %>       
            </a>
      </div>

    </div>
  
  </div> 
</div>


<div class="container">
  <div class="row">
    
    <div class="col-lg-12"> 
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="pill" href="#home"><i class="fa fa-tasks"></i> Classrooms</a></li>
        <li><a data-toggle="pill" href="#menu1"><i class="fa fa-folder"></i>  Projects</a></li>
        <li><a data-toggle="pill" href="#menu2"><i class="fa fa-calendar"></i>   Events</a></li>
        <li><a data-toggle="pill" href="#menu3"><i class="fa fa-trophy"></i>  Progress/Awards</a></li>
      </ul>
    </div>
      
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="col-lg-12"> 
          <h3> My Classrooms </h3>
          </div>
          
          <% @student.classrooms.each do |classroom| %>
            <div class="col-lg-3">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                       <%=classroom.name%>: <%=classroom.teacher.last_name%>  
                       
                    </div>
                    <div class="panel-body">

                                 <h4> <%=classroom.name%></h4>
                                 <p> Teacher: <%=classroom.teacher.last_name%>  </p>
                                 <p> School: <%=classroom.school.school_name%> </p>
                              
                    </div>
                    <div class="panel-footer">
                         <%= link_to "View Classroom", classroom%>
                    </div>
                </div>
            </div>  
            <%end%>

          
        </div>

        <div id="menu1" class="tab-pane fade">
          <div class="row">
            <div class="col-lg-12"> 
            <% if current_user.try(:admin?) || current_user == @student.user%>
            <h3>  <%= link_to "Create a New Project", new_project_path, :class => "btn btn-primary"%> </h3>
            <% end%> 
            </div>

            <% @student.projects.each do |project| %>
            <div class="col-md-3"> 
         
               <div class="panel panel-default">
                <%= link_to project do %>
                <div class="panel-body panel-project">
                  <%= image_tag project.image_url  %>
                  <h3><%= project.name%></h3>

                </div>
                <%end%>
                <div class="panel-footer">
                  <%= image_tag project.student.user.image, :class => "img-circle img-responsive panel-img-footer"%>
                </div>
              </div>
              
            </div> 
            <% end %>
          </div>
        </div>
        <div id="menu2" class="tab-pane fade">    
           <div class="row">
              <div class="col-lg-12">  
              <h3> Upcoming Events </h3>

              <% @student.events.each do |event| %>
               
                   <div class="panel panel-default">
                    <%= link_to event do %>
                    <div class="panel-body panel-event">
                      <div class="col-md-2">
                      <%= image_tag event.image_url, :height => "90px", :width => "90px"  %>
                      </div>
                      <div class="col-md-6">
                      <h3><%= event.name%></h3>
                        <p><%= event.description%></p>
                      </div>
                      <div class="col-md-4">
                        <p><span class="fa fa-map-marker"></span>    <%= event.location %> </p>
                        <p><span class="fa fa-calendar"></span>     <%= event.start_time.strftime("%B, %d %Y") %> </p>
                        <p><span class="fa fa-clock-o"></span>      <%= event.start_time.strftime("%I:%M %p") %> </p>
                       
                      </div>
                    </div>
                    <%end%>
                  </div>
                
                <% end %>
                <h3> Attended Events </h3>
                </div> 
            </div>     
          
        </div>
        
        <div id="menu3" class="tab-pane fade">
          <div class="col-lg-6"> 
           <h3>  CA Data  </h3>
          <%= line_chart @student.ca_data.group_by_day(:created_at, time_zone: "Eastern Time (US & Canada)", range: @student.ca_data.first.created_at..Time.now).maximum(:total_points) %>

          
         
          </div>
          
          <div class="col-lg-6">
            <h3>  C/I Badges  </h3>
            <% @badges.each do |badge| %>
            
                <div class="col-lg-4"> 
                   <div class="panel panel-default">
                   
                    <div class="panel-body ">
                      <%= image_tag badge["image"], :class => "img-responsive" %>
                    </div>

                  </div>
                </div> 
                <% end %>
            </div>
          </div>
        </div>
      </div>
    
  </div>
</div>