<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>Admin Dashboard</h1>
      </div> 
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div> 

<div class="container">

  <% flash.each do |name, msg| -%>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= msg %> 
  </div>
  <%end%>
  <!-- /.row -->
 
    
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li class="active">  <a data-toggle="pill" href="#sent"> <i class="fa fa-dashboard fa-fw"></i>Dashboard</a></li>
          <li class="">  <%=link_to "Classrooms" , classrooms_path %></li>
          <li class="">  <%=link_to "Schools" , students_path %></li>
          <li class="">  <%=link_to "Students" , students_path %></li>
          <li class="">  <%=link_to "Teachers" , teachers_path %></li>
        </ul>
      </div>
    </div>
<!-- /.panel -->
<!-- /.panel -->
</div>  


