<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
         <h1> <%= notification.subject %> </h1>
     </div> 
    </div>
  </div>
</div>




<div class="container">
  <p id="notice"><%= notice %></p>


      <ul>
        <%= content_tag_for(:li, notification) do |notification|%>
          
          <h3> <%= notification.subject%> </h3>
          <p> <%= raw notification.body %> </p>
          <%end%>
      
      </ul>
</div>