<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>Users</h1>
      </div> 
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div> 
       
<div class="container">
  <div class="row">

  <div class="col-lg-6"> 
  <h4>Invite Teacher</h4>

    <%= form_tag users_invite_teacher_path do %>
    <div class="form-group">
      <%= text_field_tag(:teacher_email, "Add teacher by email...", :class => "form-control") %>
    </div>   
    
    <%= submit_tag "Invite Teacher", :class => "btn btn-default" %>
    <% end %>
  </div>
    
   <div class="col-lg-6"> 
    <h4>Search For User</h4>
      <%= search_form_for @q  do |f| %>
       <div class="form-group"> 
      <%= f.search_field :email_cont, :autofocus => true, class: 'form-control', :placeholder => "Search for an user..."  %>
   </div>
    <div class="form-group"> 
      <%= f.submit "Search", :class => 'btn btn-primary' %>
      </div>
      <% end %>
  </div>
  </div>


    <div class="column">
      <table class="table">
        <tbody>
          <tr>
            <td><%= sort_link(@q, :role, 'User Type') %></td>
            <td><%= sort_link(@q, :email, 'Email') %></td>
            <td><%= sort_link(@q, :approved, 'Approved To Be Teacher') %></td>
            <td>Update User</td>
            <td>Delete User</td>
          </tr> 
          <% @users.each do |user| %>
          <tr>
            <%= render user %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
