<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active">  <%= link_to 'My Page', @user %> </li>
            <% if current_user == @user%>
              <li>  <%= link_to 'Edit My User', edit_user_registration_path %> </li>
            <% end %>
          </ul>  
          <ul class="nav nav-sidebar">
            <%= render 'layouts/sidebar' %>
          </ul>
        </div>
        
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          <h1>My Page</h1>
          <p id="notice"><%= notice %></p>

            <p>
              <strong>Name:</strong>
              <%= @user.profile_name %>
            </p>
            
            <p>
              <strong>Email:</strong>
              <%= @user.email %>
            </p>

          
          <h1>Classrooms</h1>
              <div class="card classroom-card">
               <div>
                 <img src="http://www.iconsdb.com/icons/preview/orange/plus-5-xxl.png" alt="Add Classroom" height="100" width="100"> 
                 <h4><%= link_to 'New Classroom', new_classroom_path %></h4>
               </div>
              </div>
              
              <% @user.classrooms.each do |classroom| %>
                <div class="card classroom-card">
                  <h3><%=classroom.name%></h3>
                  <a href="/classrooms/<%= classroom.id %>">
                    <!--<img src="http://<%= classroom.name %>-pond.jpg.to/" alt="Class Picture" height="200" width="300">  -->
                    <img src="http://mapssedu.net/images/iconInstruction-01.png" alt="Class Picture" height="100" width="100">
                    
                  </a>
                  <!--<p><%= link_to 'Show', classroom %></p>-->
                  <!--<p><%= link_to 'Edit', edit_classroom_path(classroom) %></p>-->
                  <p><%= link_to 'DELETE', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                </div>
              <% end %>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>