<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-6"> 
  <div class="field form-contol">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true, :class => "form-control"  %>
  </div>

  <div class="field form-contol">
    <%= f.label :tag_line %><br>
    <%= f.text_field :tag_line, autofocus: true, :class => "form-control"  %>
  </div>
  <div class="field form-contol">
    <%= f.label :description %><br>
    <%= f.cktext_area :description, autofocus: true,   %>
  </div>
  <div class="actions">
    <%= f.submit "Save Project", :class => "btn btn-primary"%>
  </div>
</div>
<div class="col-md-6"> 
  
  <div class="field form-contol">
    <%= f.label :devpost_url %><br>
    <%= f.text_field :devpost_url, autofocus: true, :class => "form-control"  %>
  </div>
  <div class="field form-contol">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url, autofocus: true, :class => "form-control"  %>
  </div>
  <div class="field form-contol">
    <%= f.hidden_field :student_id, value: current_user.student.id%>
  </div>
  
</div>
<% end %>
