<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
          <h1> C/I Projects </h1>
     </div> 
    </div>
  </div>
</div>

<div class="container">
  <p id="notice"><%= notice %></p>


  <div class="col-lg-12"> 
          
          <% if current_user.try(:admin?) || current_user.try(:student?)%>
          <h3>  <%= link_to "Create a New Project", new_project_path, :class => "btn btn-primary"%> </h3>
          <% end%> 
  </div>
  
  <% @projects.each do |project| %>
  
      <div class="col-lg-3"> 
         <div class="panel panel-default">

          <div class="panel-body panel-project">
            <h3><%= link_to project.name, project%></h3>
            <p><%= project.tag_line %> </p>
          </div>
            
            <div class="panel-footer">

              <%= image_tag project.student.user.image, :class => "img-circle img-responsive panel-img-footer"%>
              <% if current_user.try(:admin?) || current_user == project.student.user%> 
              <%= link_to 'Remove', project, method: :delete, data: { confirm: 'Are you sure?' } %>
              <%end%>
            </div>
        </div>
      </div> 
  <% end %>
  
</div>
