<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
          <h1> C/I Projects </h1>
     </div> 

      <div class="col-lg-2">  
        <% if current_user.try(:admin?) || current_user.try(:student?)%>
        
        <h1><%= link_to "Create a New Project", new_project_path, :class => "btn btn-primary"%></h1>
        <% end%> 
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p id="notice"><%= notice %></p>

 <div class="row">
  <div class="col-md-10"> 
    <%= search_form_for @q, :html => {:class => "form-inline"} do |f| %>
    
    <div class="form-group"> 
    <%= f.submit "Search Projects", :class => 'btn btn-primary' %>
    </div>



    <div class="form-group">      
    <%= f.search_field :name_or_student_first_name_cont, :autofocus => true, class: 'form-control', :placeholder => "Search for a project..." %>
    </div>
    
    <% end %>

  </div>


  
  <% @projects.each do |project| %>
    
      <div class="col-md-3"> 
         
         <div class="panel panel-default">
          <%= link_to project do %>
          <div class="panel-body panel-project">
            <%= image_tag project.image_url  %>
            <h3><%= project.name%></h3>
            <p><%= project.tag_line %> </p>

          </div>
          <%end%>
          <div class="panel-footer">
            <%= image_tag project.student.user.image, :class => "img-circle img-responsive panel-img-footer"%>
          </div>
        </div>
        
      </div> 
  <% end %>
  </div>
</div>
