<div class="page-header ribbon-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
          <h1><%= @project.name %> </h1>
          <p> <%= @project.tag_line%> </p> 
     </div> 
    </div>
  </div>
</div>

<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>About:</strong>
  <% @devpost_data.each do |datum| %>
    <p><%=datum%></p>
  <%end%>
</p>


<% if current_user.try(:admin?) || current_user == @project.student.user%>
<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Explore More Projects', projects_path %>

</div>