<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :profile_name %><br />
    <%= f.text_field :profile_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :about_me %><br>
    <%= f.text_field :about_me %>
  </div>

  <div class="field">
    <%= f.label :codecademy_username %><br>
    <%= f.text_field :codecademy_username %>
  </div>

  <div class="field">
    <%= f.label :github_username %><br>
    <%= f.text_field :github_username %>
  </div>

  <div class="field">
    <%= f.label :devpost_username%><br>
    <%= f.text_field :devpost_username %>
  </div>


  <div class="field">
      <%= f.label :school %><br>
      <%= f.collection_select :school_id, School.all, :id, :school_name %>  
  </div>
  
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
