  <div class="page-header ribbon-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
            <h1>All Teachers</h1>        
       </div> 
      </div>
    </div>
  </div>

  <div class="container">

        <div class="row">

          <p id="notice"><%= notice %></p>
          
          <% @teachers.each do |teacher| %>
               
                  <div class="col-lg-3"> 
                     
                     <div class="panel panel-default">
                      <%= link_to teacher do %>
                      <div class="panel-body panel-project">
                        <%= image_tag teacher.user.image, :height => "50px", :class => "img-circle img-responsive panel-img-user" %>
                        <h4><%= teacher.first_name %> <%= teacher.last_name %></h4>
                      </div>
                      <%end%>
                      <div class="panel-footer">
                        <a href='https://github.com/<%=teacher.github_username%>' class="btn btn-social-icon btn-github">
                            <span class="fa fa-github"></span>
                        </a>

                        <a href='https://www.codecademy.com/<%=teacher.codecademy_username %>' class="btn btn-social-icon btn-instagram">
                            <span class="fa fa-code"></span>
                        </a>

                        <a href='https://devpost.com/<%=teacher.github_username%>' class="btn btn-social-icon btn-reddit">
                          <img src = "http://nealrs.github.io/devpost-follow-button/icon/devpost-32.png">        
                        </a>
                      </div>
                    </div>
                    
                  </div> 
             
            <% end %>
      </div>
  </div>


