  <div class="page-header ribbon-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
            <h1>All Teachers</h1>        
       </div> 
      </div>
    </div>
  </div>

  <div class="container">

          <p id="notice"><%= notice %></p>

          <div class="row">
            <% if current_user.try(:admin?) %>
            <div class="col-lg-6"> 
            <h4>Invite Teacher</h4>

              <%= form_tag users_invite_teacher_path do %>
              <div class="form-group">
                <%= text_field_tag(:teacher_email, "Add teacher by email...", :class => "form-control") %>
              </div>   
              
              <%= submit_tag "Invite Teacher", :class => "btn btn-default" %>
              <% end %>
            </div>
            <%end%>
              
             <div class="col-lg-6"> 
              <h4>Search For Teacher</h4>
                <%= search_form_for @q  do |f| %>
                 <div class="form-group"> 
                <%= f.search_field :last_name_cont, :autofocus => true, class: 'form-control', :placeholder => "Search for an teacher..."  %>
             </div>
              <div class="form-group"> 
                <%= f.submit "Search", :class => 'btn btn-primary' %>
              </div>
                <% end %>
            </div>
          </div>  

          <div class="row">
          <% @teachers.each do |teacher| %>
               
                  <div class="col-lg-3"> 
                     
                     <div class="panel panel-default">
                      <%= link_to teacher do %>
                      <div class="panel-body panel-project">
                        <%= image_tag teacher.user.image, :height => "50px", :class => "img-circle img-responsive panel-img-user" %>
                        <h4><%= teacher.first_name %> <%= teacher.last_name %></h4>
                      </div>
                      <%end%>
                      <div class="panel-footer">
                        <a href='https://github.com/<%=teacher.github_username%>' class="btn btn-social-icon btn-github">
                            <span class="fa fa-github"></span>
                        </a>

                        <a href='https://www.codecademy.com/<%=teacher.codecademy_username %>' class="btn btn-social-icon btn-instagram">
                            <span class="fa fa-code"></span>
                        </a>

                        <a href='https://devpost.com/<%=teacher.github_username%>' class="btn btn-social-icon btn-reddit">
                          <img src = "http://nealrs.github.io/devpost-follow-button/icon/devpost-32.png">        
                        </a>
                      </div>
                    </div>
                    
                  </div> 
             
            <% end %>
      </div>
  </div>


