 <div id="page-wrapper">
     <div class="row">
          <h1 class="page-header">My Page</h1>

         <% flash.each do |name, msg| -%>
              <div class="alert alert-success alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= msg %> 
              </div>
          <%end%>

            <p>
              <strong>Name:</strong>
              <%= @teacher.first_name + " " + @teacher.last_name %>
            </p>
            
            <p>
              <strong>Email:</strong>
              <%= @teacher.user.email %>
            </p>

            <p>
              <strong>School:</strong>
              <%= link_to @teacher.school.school_name, @teacher.school %>
            </p>

            <p>
              <strong>Github:</strong>
              <a href='https://github.com/<%=@teacher.github_username%>'> <%= @teacher.github_username%></a>
            </p>
            <p>
              <strong>Codecademy:</strong>
              <a href='https://www.codecademy.com/<%=@teacher.codecademy_username %>'> <%= @teacher.codecademy_username %></a>
            </p>

          <% if current_user.try(:admin?) || current_user == @teacher.user%> 
          <%= link_to "Edit Teacher Profile", edit_teacher_path(@teacher)%>
          <%end%>


          <h1>Classrooms</h1>
              <div class="card classroom-card">
                 
                 <%= link_to image_tag('plus-5-128.png', :id => "plus-button"), new_classroom_path%>
                      
              </div>
              
              <% @teacher.classrooms.each do |classroom| %>
                <div class="card classroom-card">
                  <h3><%=classroom.name%></h3>
                  
                    <%= link_to image_tag('speech-bubble-3-128.png'), classroom%>
                  
                  <% if current_user.try(:admin?) || current_user == @teacher.user%> 
                  <p><%= link_to 'DELETE', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                  <%end%>
                  
                </div>
              <% end %>
             
     </div>
</div>