<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>  
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <p id="notice"><%= notice %></p>

      <h2>
        <%= @school.school_name %>
      </h2>

      <p>
        <strong>School address:</strong>
        <%= @school.school_address %>
      </p>
      <% if current_user.try(:admin?) || current_user.try(:teacher?)%>
        <%= link_to 'Edit School', edit_school_path(@school) %>
      <%end%>

      <h1>Classrooms</h1>
              
              <% @school.classrooms.each do |classroom| %>
                <div class="card classroom-card">
                  <h3><%=classroom.name%></h3>
                   <%= link_to image_tag('speech-bubble-3-128.png'), classroom%>
                  <h6> Teacher: <%=classroom.teacher.last_name%></h6>
                  <% if current_user.try(:student?)%>
                    <%= button_to 'Enroll', enrollments_path(classroom_id: classroom) %>
                  <%end%>
                  
                  <% if current_user.try(:admin?)%> 
                  <p><%= link_to 'DELETE', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                  <%end%>
                  
                </div>
              <% end %>
            </div>


    </div>
  </div>
</div>