<% if user_signed_in? %>
   
     <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <% if current_user.mailbox.notifications.unread.count != 0%>
            <i class="fa fa-bell-o fa-fw"></i>   <i class="fa fa-caret-down"></i>
            <%else%>
              <i class="fa fa-bell fa-fw"></i>   <i class="fa fa-caret-down"></i>
            <%end%>
        </a>
        <ul class="dropdown-menu ">
            
        <% current_user.mailbox.notifications.each do |notification|  %>
            <% if notification.is_unread?(current_user)%>
            <li>      
                    <%= link_to notification_path(notification) do %>
                    <div>
                        <i class="fa fa-bell fa-fw"></i>
                        <%= notification.subject%> 
                        <span class="pull-right text-muted small"> <%=notification.created_at %> </span>
                    </div>  
                    <%end%>
            </li>
            <li class="divider"></li>
            <%end%>
        <%end%>
            <li>
               <%= link_to :notifications, :class =>"text-center" do %>
                   <strong> See All Notifications </strong>
                  <i class="fa fa-angle-right"></i>
              <%end%>   
            </li>
        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <% if current_user.mailbox.inbox(:unread => true).count != 0%>
            <i class="fa fa-envelope-o fa-fw"></i>   <i class="fa fa-caret-down"></i>
            <%else%>
              <i class="fa fa-envelope fa-fw"></i>   <i class="fa fa-caret-down"></i>
            <%end%>
        </a>
        <ul class="dropdown-menu ">
            
        <% current_user.mailbox.inbox.each do |conversation|  %>
            <% if conversation.is_unread?(current_user)%>
            <li>  
                <%= link_to conversation_path(conversation) do %>    
                <div>
                    <i class="fa fa-comment fa-fw"></i>
                    <%= conversation.subject%> 
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>   
                <%end%>      
            </li>
            <li class="divider"></li>
            <%end%>
        <%end%>
            <li>
               <%= link_to :conversations, :class =>"text-center" do %>
                   <strong> See All Conversations </strong>
                  <i class="fa fa-angle-right"></i>
              <%end%>   
            </li>
        </ul>
      </li>






   <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <% if current_user.try(:teacher?)%>
      <li><%= link_to 'My Teacher Account', current_user.teacher %></li>
      
      <% elsif current_user.try(:student?)%>
      <li><%= link_to 'My Portfolio', current_user.student %></li>
      
      <% elsif current_user.try(:admin?)%>
      <li><%= link_to 'Admin Dashboard', admin_show_path %></li>
      
      <%end%>
      <li class="divider"></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
    </ul> 
  </li>

<% else %>
  <li><%= button_to 'Sign in', new_user_session_path, :class => "btn btn-default navbar-btn" %></li>
<% end %>

