<div class="col-sm-3 col-md-2 sidebar">
          
  <% if current_user.try(:admin?) %>         
      <ul class="nav nav-sidebar"> 
      <li>  <%= link_to 'View Users', users_path %> </li>
      <li><%= link_to 'All Classrooms', classrooms_path %></li>
      <li><%= link_to 'All Students', students_path %></li>
    </ul>
  <%else%>  
     <ul class="nav nav-sidebar">
      <li><%= link_to 'My Page', current_user.profile %></li>
      <li><%= link_to 'My Classrooms', classrooms_path %></li>
      <li><%= link_to 'My Students', students_path %></li>
    </ul> 
  <% end %>

</div>